# Created by .ignore support plugin (hsz.mobi)
node_modules
platforms
lib
hooks
dist
*.js
*.map
*.log
.idea/*
!.idea/runConfigurations
!.idea/modules.xml
*.iws
*.iml
*.ipr
/out/
.idea_modules/
app/new-article/*.js
app/article-detail/*.js
app/common-actionbar/*.js
app/login/*.js
app/overview/*.js
app/shared/*.js
app/shopping-cart/*.js